
body {
    background-color: #FFBA00;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

main {
    background-color: white;
    margin: auto;
    width: 90%;
    padding: 2rem 0;
    border-radius: 5px;
}

h1 {
    margin: 3rem 1rem 6rem 1rem;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: flex-start;
}

h2 {
    width: 100%;
}

#gallery>article {
    width: 100%;
}

.artObject {
    width: 70%;
    height: auto;
    margin: 1rem;
}

@media screen and (min-width: 800px) {
    .artObject {
        width: 30%;
        height: auto;
        float:left;
    }

    #gallery div {
        width: 70%;
    }

    .artObject.even {
        float: right;
        
    }
}